@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overscroll-behavior: none;
}

.main-text-area {
	outline: 2px solid transparent;
}

.main-text-area:focus {
	/*
	text-blue-300: https://tailwindcss.com/docs/colors
	*/
	outline: 2px solid oklch(0.809 0.105 251.813);
	transition: outline 0.1s;
}
